# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Uploads (optional)
uploads/*
!uploads/.gitkeep
# SQLite databases
*.db
